{% extends "blog/main.html" %}

{% block content %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Our Waterloo Blog</h1>
                    <p class="lead">For Waterloo students</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        {% for post in posts reversed %}
            <div class="card m-4 mx-auto">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatewords:100 }}</p>
                    <a href="{% url 'post-detail' post.id %}" class="btn btn-info">See Full Post</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ post.date|date:"N j, Y" }} by {{ post.author }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

