{% extends "blog/main.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container card mt-4">
        <div class="content-section p-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Become a member
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Have an existing account? Sign in here.</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}